<app-navbar></app-navbar>
    <section>
		<div class="container_title">
			<h1>Cadastrar Novo Usuário</h1>
		</div>
	</section>
	<section>
		<form [formGroup]="formUsuarios">		
			<div class="grid-container">
				<div>
					<span>Email:</span>>
					<input formControlName="email" name="email" type="email">
				</div>
				<div>
					<span>Senha:</span>
					<input formControlName="password"  name="password" type="password">
				</div >
			</div>
			<div class="grid-container-email">
				<div>	
					<span >Nome:</span>
					<input formControlName="name" name="name" type="text">
				</div>
				<div>
					 <input type="checkbox" name="Administrador?">
				</div>	
				<div>
					<button mat-raised-button  color= "primary" (click)="save()">Salvar Contato</button>
				</div>	
			</div>
		</form>		
	</section>
